<!DOCTYPE html>
<html>
  <head>
    <%- include("head", {title: "ワード人狼ロビー"}) %>
    <link rel='stylesheet' href='./stylesheets/lobby.css' />
  </head>
  <body>

    <div id="container">
<%- include("header_word", {title: "ワード人狼ロビー"}) %>
    
    <div id="table_wrap">
        現在稼働中の部屋は<%= result.length %>部屋です。
        <% for(var room of result) { %>
            <div class="village word">
              <div class="village_title">
                <%= room.vno %>番 <a href="./wordwolf/<%= room.vno %>"><%= room.name %></a>
              </div>
              <div class="village_detail">
                <%= room.pr %><br>
                お題設定:<%= room.time.setWord %>秒 議論:<%= room.time.discuss %>秒 逆転:<%= room.time.counter %>秒<br>
                GM:<%= room.GMid %>
              </div>
            </div>
        <% } %>
        <a href="./makeWordroom">新しく部屋を作成</a>

    </div>
	</div>
  </body>
</html>
